body{
    background-color: black;
}

.ig-post {
    height: 600px;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 60px;
}

.post-header {
    border: dashed red; 2px;
    height: 35px;
    width: 500px;
}

.post-image {
    border: dashed blue; 2px;
    height: 300px;
    width: 500px;
}

.post-icon {
    border: dashed green; 2px;
    height: 35px;
    width: 500px;
}

.post-text {
    border: dashed cyan; 2px;
    height: 200px;
    width: 500px;
}