body{
    background-color: black;
}

.ig-post {
    height: 650px;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 60px;
}

.post-header {
    border: dashed red; 1px;
    height: 40px;
    width: 500px;
}

.post-header > fa-circle-user {
    display: flex;
}

.post-image {
    border: dashed blue; 1px;
    height: 350px;
    width: 500px;
    
}

.post-image > img {
    width: 500px;
    height: auto;
    margin-left: 0px;
}

.post-icon {
    display: flex;
    justify-content: flex-start;
    border: dashed green; 1px;
    height: 40px;
    width: 500px; 
}

.post-icon > .fa-heart {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: red;
}

.post-icon > .fa-comment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.post-icon > .fa-paper-airplane {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.post-icon > .fa-bookmark {
    display: flex;
    align-items: center;
    margin-right: 100%;
    justify-content: flex-start;
}

.post-text {
    border: dashed cyan; 1px;
    height: 200px;
    width: 500px; 
}

.post-text > 