body{
    background-color: black;
}

.ig-post {
    height: 650px;
    width: 500px;
    background-color: white;
    margin: auto;
    margin-top: 60px;
}

.post-header {
    border: dashed red; 1px;
    height: 40px;
    width: 500px;
}

.post-image {
    border: dashed blue; 1px;
    height: 350px;
    width: 500px;
    
}

.post-image > img {
    width: 500px;
    height: auto;
    margin-left: 0px;
}

.post-icon {
    border: dashed green; 1px;
    height: 40px;
    width: 500px; 
}

.post-text {
    border: dashed cyan; 1px;
    height: 200px;
    width: 500px; 
}

.post-text > 